* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0a192f;
    color: #8892b0;
}

.mono {
    font-family: "Roboto Mono", sans-serif;
    color: #64ffda;
}

